body {
    background-color: #404142; /* cinza escuro */
    color: white;
    font-family: Arial, sans-serif;
}
#form-div, #list-div {
    margin-top: 1em;
}



#form-div{
    display: block;
    max-width: 300px;
    text-align: center;
}
#form-control{
    max-width: fit-content;
}


.btn-edit {
    color: blue;
}
.btn-delete {
    color: red;
}
.btn-save {
    color: green;
}
